<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a troca da sua senha. Esta poderá ser feita pelo link abaixo</p>

<p><%= link_to 'Trocar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha sido você, por favor desconsidere este email.</p>
<p>Sua senha não será alterada até que você acesse o link abaixo.</p>
