<p>Hello <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido ao grande número de tentativas incorretas de login.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
