<div class="jumbotron">
  <h1>Bem-Vindo ao Wiki Dota2!</h1>
  <h2>Wiki <%= link_to"Dota2", "http://www.dota2.com" %> é o melhor jeito de saber mais sobre o melhor <%= link_to"MOBA", "https://pt.wikipedia.org/wiki/Multiplayer_online_battle_arena" %> <a href=""> atual.  </h2>
  <h3>Explore as Histórias de cada herói e conheça mais sobre o jogo.<br>
    Deixe aqui seus comentários a respeito de cada Herói e suas Builds em jogos</h3>
</div>
<%= image_tag("dota2.jpg", size: "1600x650") %>
