<div class="jumbotron">
  <h1 style="font-size:55px">Mande suas Sugestões</h1>
  <h2>
  Gostou do site?<br>
  Acha que tem algo a melhorar?<br>
  Contate um dos nossos administradores.
</h2>
    <p style="color:white">Romeu Carvalho - romeucarvalho2009@hotmail.com<br>Carlos Aragon - carlosaragon3@hotmail.com</p>
</div>
